html, body {
    background-color: #B9F3FC;
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    background-color: #FEDEFF;
    height: 600px;
    width: 400px;
    border-radius: 8px;
    border-width: 8px;
    border-style: solid;
    border-color: #93C6E7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.display {
    background-color: #93C6E7;
    height: 100px;
    width: 360px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 48px;
    font-family: Roboto;
    font-weight: 900;
    padding-right: 24px;
    margin-top: 8px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    margin: 8px;
}

.clear-button, .delete-button {
    font-size: 32px;
    height: 50px;
    width: 150px;
    border-style: dashed;
    border-radius: 8px;
    border-color: #93C6E7;
    background-color: #93C6E7;
}

.number-button {
    font-size: 32px;
    border-style: dashed;
    border-radius: 8px;
    border-color: #93C6E7;
    background-color: #93C6E7;
}
